{% extends "students/base.html" %}

{% load i18n %}

{% block meta_title %}{{ user.get_full_name|default:user.username }}{% endblock meta_title %}

{% block title %}{{ user.get_full_name|default:user.username }}{% endblock title %}
{% block status_message %}
{% if form.errors %}
<div class="alert alert-warning" role="alert">
    {% if form.non_field_errors %}
    {{ form.non_field_errors.as_text }}
    {% else %}
    {% trans "Please, correct the following errors." %}
    {% endif %}
</div>
    {% endif %}
{% endblock %}

{% block content %}


<table class="table table-striped">


    {% if user1.email %}
    <tr>
        <td>{% trans "Email" %}:</td>
        <td>{{ user1.email }}</td>
    </tr>
    {% endif %}
    {% if user1.username %}
    <tr>
        <td>{% trans "Username" %}:</td>
        <td>{{ user1.username }}</td>
    </tr>
    {% endif %}

    {% if user1.date_joined %}
    <tr>
        <td>{% trans "Joined" %}</td>
        <td>{{ user1.date_joined }}</td>
    </tr>
    {% endif %}

    {% if user1.student_profile.mobile_phone %}
    <tr>
        <td>{% trans "Mobile Phone" %}:</td>
        <td>{{ user1.student_profile.mobile_phone }}</td>
    </tr>
    {% endif %}

    {% if user1.student_profile.passportID %}
    <tr>
        <td>{% trans "PassportID" %}:</td>
        <td>{{ user1.student_profile.passportID }}</td>
    </tr>
    {% endif %}

    {% if user1.student_profile.actual_address %}
    <tr>
        <td>{% trans "Actual Address" %}:</td>
        <td>{{ user1.student_profile.actual_address }}</td>
    </tr>
    {% endif %}

    {% if user1.student_profile.photo %}

    <tr>
        <td>{% trans "Photo" %}:</td>

        <td><img height="=50" width="50"
                     src="{{ user.stprofile.photo.url }}" class="rounded-circle" /> </td>
    </tr>
    {% endif %}
<!--<a>user.stprofile.id={{ user.id }} </a>-->
<!--<a>queryset2={{ queryset2 }} </a>-->
<!--    <a>user1 fulname={{ user1.email }} </a>-->
<!--    <a> -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;{{ user }}</a>-->
<!--    {% for user in USERS_LIST %}-->
<!--    <a> {{ user }}</a>-->
<!--    {% endfor %}-->
</table>

{% endblock content %}