{% extends "students/base.html" %}
{% block meta_title %}Список Результатов{% endblock meta_title %}
{% block title %}Список Результатов{% endblock title %}
{% block content %}



            <!-- Start Groups Listing -->
            {% if not resoult %}
<div class="alert alert-warning">
    Пока нет ни одной группы в базе. Пожалуйста,
    <a href="{% url "groups_add" %}">Добавить</a> первую.
</div>

{% else %}
            <table class="table table-hover table-striped" id="calendar">
                {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                <thead>
                <tr>
                    <th><a heref='''>#</a></th>
                    <th><a class="pag-vs-ajax" href= "{% url 'resoult' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Оценка
                    {% if order_by == 'title' and reverse != '1' %}&uarr;
                        {% elif order_by == 'title' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th><a class="pag-vs-ajax" href="{% url 'resoult' %}?order_by=student{% if order_by == 'student' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Студент
                    {% if order_by == 'student' and reverse != '1'%}&uarr;
                        {% elif order_by == 'student' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th><a class="pag-vs-ajax" href="{% url 'resoult' %}?order_by=exam{% if order_by == 'exam' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Предмет
                    {% if order_by == 'exam' and reverse != '1'%}&uarr;
                        {% elif order_by == 'exam' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th><a class="pag-vs-ajax" href="{% url 'resoult' %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Преподаватель
                    {% if order_by == 'teacher' and reverse != '1'%}&uarr;
                        {% elif order_by == 'teacher' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th>Действие</th>
                </tr>

                </thead>
                {% endwith %}
                <tbody>
                {% for resoult in resoult.page_obj %}
                    <tr>
                        <td>{{ forloop.counter }}</td>

                        <td><a heref="#">{{ resoult.title }}</a></td>
                        <td><a heref="#">{{ resoult.student }}</a></td>
                        <td><a heref="#">{{ resoult.exam.title }}</a></td>
                        <td><a heref="#">{{ resoult.teacher }}</a></td>

                        <td>
                            <div class="=btn-group col-lg-12">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button" data-toggle="dropdown">Действие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="#">Посещение</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Редактировать</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Удалить</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- End Students List -->

            {% endif %}



            <!-- Add Pagitnation-->
{% with object_list=resoult.page_obj is_paginated=resoult.is_paginated paginator=resoult.paginator %}
{% include "students/pagination.html" %}

{% endwith %}

<a class="btn btn-primary" role="button" href="{% url 'resoult' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ resoult.paginator.load_more }}" >Load more exams</a>


<script>
    jQuery(document).ready(function ($) {
         //разрешаем выводить данные
   var block = true;
   //номер страницы для вывода
   var page = 0;
   //скроллинг
        $(window).scroll(function () {
            if ($(window).height() + $(window).scrollTop() >= $(document).height() && block){
        console.log('scrollDown');
        window.location.replace("{% url 'resoult' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ resoult.paginator.load_more }}");
    }
    //             $("#target").load("{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.load_more }}");
    position = scroll;
});});




</script>

{% endblock content %}