{% extends "students/base.html" %}
{% load i18n %}
{% block meta_title %}{% trans "Exam List" %}{% endblock meta_title %}
{% block title %}{% trans "Exam List" %}{% endblock title %}
{% block content %}

<a class="student-edit-form-link btn btn-primary" href="{% url "exam_add" %}">Добавить экзамен</a>


            <!-- Start Groups Listing -->
{% if not exams %}

<div class="alert alert-warning">
    Пока нет ни одного экзамена в базе. Пожалуйста,
    <a href="{% url "exam_add" %}">Добавить</a> первый.
</div>

{% else %}

            <table class="table table-hover table-striped" id="calendar">
                {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                <thead>
                <tr>
                    <th><a heref='''>#</a></th>
                    <th><a class="pag-vs-ajax" href= "{% url 'exams' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        {% trans "Subject" %}
                    {% if order_by == 'title' and reverse != '1' %}&uarr;
                        {% elif order_by == 'title' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th><a class="pag-vs-ajax" href="{% url 'exams' %}?order_by=date{% if order_by == 'date' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        {% trans "Date" %}
                    {% if order_by == 'date' and reverse != '1'%}&uarr;
                        {% elif order_by == 'date' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th><a href="{% url 'exams' %}?order_by=student_group{% if order_by == 'student_group' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        {% trans "Group"%}
                    {% if order_by == 'student_group' and reverse != '1'%}&uarr;
                        {% elif order_by == 'student_group' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th><a class="pag-vs-ajax" href="{% url 'exams' %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}">
                       {% trans "Teacher"%}
                    {% if order_by == 'teacher' and reverse != '1'%}&uarr;
                        {% elif order_by == 'teacher' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th>{% trans "Action" %}</th>
                </tr>

                </thead>
                {% endwith %}
                <tbody>
                {% for exam in exams.page_obj %}
                    <tr>
                        <td>{{ forloop.counter }}</td>

                        <td><a heref="#">{{ exam.title }}</a></td>
                        <td><a heref="#">{{ exam.date }}</a></td>
                        <td><a heref="#">{{ exam.exams_group.title }}</a></td>
                        <td><a heref="#">{{ exam.teacher }}</a></td>

                        <td>
                            <div class="=btn-group col-lg-12">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button" data-toggle="dropdown">Действие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="#">{% trans "Visit"%}</a>
                                    </li>

                                    <li role="presentation">
                                        <a class="student-edit-form-link" role="menuitem" tabindex="-1" href="{% url "exams_edit" exam.id %}">{% trans "Edit"%}</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{% url "exam_delete" exam.id %}">{% trans "Delete"%}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- End Students List -->

            {% endif %}



            <!-- Add Pagitnation-->
{% with object_list=exams.page_obj is_paginated=exams.is_paginated paginator=exams.paginator %}
{% include "students/pagination.html" %}

{% endwith %}


<a class="btn btn-primary" role="button" href="{% url 'exams' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ exams.paginator.load_more }}" >Load more exams</a>


<script>
    jQuery(document).ready(function ($) {
         //разрешаем выводить данные
   var block = true;
   //номер страницы для вывода
   var page = 0;
   //скроллинг
        $(window).scroll(function () {
            if ($(window).height() + $(window).scrollTop() >= $(document).height() && block){
        console.log('scrollDown');
        window.location.replace("{% url 'exams' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ exams.paginator.load_more }}");
    }
    //             $("#target").load("{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.load_more }}");
    position = scroll;
});});




</script>

{% endblock content %}