<!DOCTIPE HTML>
<html lang="uk">

    <head>
        <meta charset="UTF-8">
        <title> Сервис учета студентов </title>
        <meta name="description"
              value="Система учета студентов Учебного Заведения"/>


        <!-- Include Stules -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <style type="text/css">.col-lg-12, .col-lg-4, .col-lg-3 .col-lg-8 </style>

       <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">

    </head>

    <body>
        <div  id="forms">
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Имя</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Вася">
              </div>
                <div class="form-group">
                <label for="exampleFormControlInput1">Отчество</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Иванович">
              </div>
                <div class="form-group">
                <label for="exampleFormControlInput1">Фамилия</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Пашинский">
              </div>

                <div>
                <div class="form-group">
                <label for="exampleFormControlInput1">Номер билета</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="1234">
              </div>

                <div>
                <div class="form-group ">
                <label for="exampleFormControlInput1">Дата рождения</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>

             <div class="form-group">

                    <strong>Група:</strong>

                    <select>
                        <option value='''>Все студенты</option>
                        <option value='''>MtM -21, Назар Мазур(№1)</option>
                        <option value='''>MtM -22, Сергей Подоба(№1)</option>
                    </select>

              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>


        <form>
          <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
            <button class="btn btn-primary btn-md" type="submit">Cохранить</button>
            <button class="btn btn-secondary btn-md" type="submit">Отменить</button>
        </form>
    </div>




    </body>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>