{% extends "students/base.html" %}
{% block meta_title %}Список Групп{% endblock meta_title %}
{% block title %}Список Групп{% endblock title %}
{% block content %}



            <!-- Start Groups Listing -->
            {% if groups %}
            <table class="table table-hover table-striped" id="calendar">
                {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                <thead>
                <tr>
                    <th><a heref='''>#</a></th>
                    <th><a href= "{% url 'groups' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Название
                    {% if order_by == 'title' and reverse != '1' %}&uarr;
                        {% elif order_by == 'title' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th><a href="{% url 'groups' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Староста
                    {% if order_by == 'leader' and reverse != '1'%}&uarr;
                        {% elif order_by == 'leader' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th>Действие</th>
                </tr>

                </thead>
                {% endwith %}
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ forloop.counter }}</td>

                        <td><a heref="{% url 'groups_edit' group.id %}">{{ group.title }}</a></td>
                        <td><a heref="{% url 'students_edit' group.id %}">{{ group.leader }}</a></td>

                        <td>
                            <div class="=dropdown">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button" data-toggle="dropdown">Действие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="#">Посещение</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{% url "groups_edit" group.id %}">Редактировать</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{% url "groups_delete" group.id %}">Удалить</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- End Students List -->
            {% else %}
<p>Пока нет групп в базе </p>
            {% endif %}

            <!-- Add Pagitnation-->
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>


{% endblock content %}