{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенты{% endblock meta_title %}
{% block title %}База студентов{% endblock title %}
{% block content %}


    <body>

         <! --Start Container -->
        <div class="cotainer">

            <!-- Start Header -->
            <div class="row" id="header">


                <!-- Logo -->
                <div class="col-lg-8">
                    <h1>Сервис учета студентов</h1>
                </div>



                <!--Groups Selector -->
                <div class="col-lg-4" id="group-selector">
                    <strong>Група:</strong>
                    <select>
                        <option value='''>Все студенты</option>
                        <option value='''>MtM -21, Назар Мазур(№1)</option>
                        <option value='''>MtM -22, Сергей Подоба(№1)</option>
                    </select>

                </div>
            </div>

            <!-- End Header -->

            <!-- Start SubHeader -->
            <div class="row" id="sub-header">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item"
                            role="presentation"
                            class="active">
                            <a class="nav-link" href="#">Студенты</a>
                        </li>

                        <li class="nav-item"
                            role="presentation"
                            class="active">
                            <a class="nav-link" href="#">Посещение</a>
                        </li>
                        <li class="nav-item"
                            role="presentation"
                            class="active">
                            <a class="nav-link active" href="#">Групы</a>
                        </li>
                    </ul>
                </div>
            </div>


         <!--End SubHeader-->

         <!--Start Main Page Content-->
            <div class="row" id="content-colums">

                <div class="col-lg-12" id="content-column">

                    <!--Status Massege-->
                    <div class="alert alert-warning">Изменениея отменены.</div>
                    <h2>Группы</h2>

                    <!-- Add Students Button-->
                    <a class="btn btn-primary" href="#">Добавить студента</a>


                </div>
            </div>

            <!-- Start Students List-->
            <!-- Start Students Listing -->

            <table class="table table-hover table-striped" id="calendar">

                <thead>
                <tr>
                    <th><a heref='''>#</a></th>
                    <th>Название</th>
                    <th><a href='''> Староста &uarr;</a></th>
                    <th>Действие</th>
                </tr>

                </thead>

                <tbody>
                    <tr>
                        <td>1</td>

                        <td><a title="Редактировать" heref="#"> MtM-21</a></td>
                        <td><a title="Редактировать" heref="#">Корост Андрей</a></td>

                        <td>
                            <div class="=dropdown">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button" data-toggle="dropdown">Действие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="#">Посещение</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Редактировать</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Удалить</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <tr>
                        <td>2</td>

                        <td><a title="Редактировать" heref="#">MtM-22</a></td>
                        <td><a title="Редактировать" heref="#">Мазур Назар</a></td>

                        <td>
                            <div class="=dropdown">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button" data-toggle="dropdown">Действие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="#">Посещение</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Редактировать</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#">Удалить</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Add Pagitnation-->
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>






                <!--Status Massege-->
                <div class="alert alert-warning">Изменения отменены.</div>
            </div>

             <!--End Main Page Content-->

            <!--Start Footer-->
            <div class="row" id="footer">
                <div class="col-lg-12">
                    &copy; 2014 Сервис учета студентов
                </div>
            </div>

            <!-- End Footer -->
        </div>

    <!-- End Container -->
        </body>


<!--    <h1>Поздравляю вас на нашей странице </h1>-->
<!--    <p> Пока что тут пусто но скоро тут будет список студентов-->
<!--    </p>-->

    <!-- Javascript Section -->
<!--    <script-->
<!--  src="https://code.jquery.com/jquery-3.5.1.js"-->
<!--  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="-->
<!--  crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>






</html>