{% extends "students/base.html" %}
{% block meta_title %}Список Групп{% endblock meta_title %}
{% block title %}Список Групп{% endblock title %}
{% block content %}


<a class="btn btn-primary" href="{% url "groups_add" %}">Добавить группу</a>
            <!-- Start Groups Listing -->
            {% if not groups %}
<div class="alert alert-warning">
    Пока нет ни одной группы в базе. Пожалуйста,
    <a href="{% url "groups_add" %}">Добавить</a> первую.
</div>

{% else %}

            <table class="table table-hover table-striped" id="calendar">
                {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                <thead>
                <tr>
                    <th><a heref='''>#</a></th>
                    <th><a href= "{% url 'groups' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Название
                    {% if order_by == 'title' and reverse != '1' %}&uarr;
                        {% elif order_by == 'title' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th><a href="{% url 'groups' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
                        Староста
                    {% if order_by == 'leader' and reverse != '1'%}&uarr;
                        {% elif order_by == 'leader' and reverse == '1' %}&darr;
                        {% endif %}
                    </a>
                    </th>
                    <th>Действие</th>
                </tr>

                </thead>
                {% endwith %}
                <tbody>
                {% for group in groups.page_obj %}
                    <tr>
                        <td>{{ forloop.counter }}</td>


                        <td><a heref="{% url 'groups_edit' group.id %}">{{ group.title }}</a></td>
                        <td><a heref="{% url 'students_edit' group.id %}">{{ group.leader }}</a></td>


                        <td>
                            <div class="btn-group col-lg-12">
                                <button class="btn btn-default dropdown-toggle"
                                        type="button" data-toggle="dropdown">Действие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="#">Посещение</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{% url "groups_edit" group.id %}">Редактировать</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{% url "groups_delete" group.id %}">Удалить</a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- End Students List -->
            {% endif %}






            <!-- Add Pagitnation-->
{% with object_list=groups.page_obj is_paginated=groups.is_paginated paginator=groups.paginator %}
{% include "students/pagination.html" %}

{% endwith %}


<a class="btn btn-primary" role="button" href="{% url 'groups' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ groups.paginator.load_more }}" >Load more groups</a>

<script>
    jQuery(document).ready(function ($) {
         //разрешаем выводить данные
   var block = true;
   //номер страницы для вывода
   var page = 0;
   //скроллинг
        $(window).scroll(function () {
            if ($(window).height() + $(window).scrollTop() >= $(document).height() && block){
        console.log('scrollDown');
        window.location.replace("{% url 'groups' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ groups.paginator.load_more }}");
    }
    //             $("#target").load("{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.load_more }}");
    position = scroll;
});});




</script>

{% endblock content %}