{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Tracking attendance" %}{% endblock meta_title %}

{% block title %}{% trans "Tracking attendance" %}{% endblock title %}

{% block content %}

{% if not students %}

<div class="alert alert-warning">
    Пока нет ни одного студента в базе. Пожалуйста,
    <a href="{% url "students_add" %}">Добавить</a> первого.
</div>

{% else %}

<div class="alert alert-warning">
    Изменения в журнале сохраняются автоматически после каждого клика в таблице
    <span id="ajax-progress-indicator"> Идет сохранение....</span>
</div>


<!--<div class="spinner-border" role="status">-->
<!--  <span class="sr-only">Loading...</span>-->
<!--</div>-->

<div id="alert-danger" class="alert alert-danger" role="alert">
    <span>{% trans "An error occurred while requesting the server:" %}</span>
</div>

<p id="journal-nav" class="text-center">
    <a class="pag-vs-ajax" href="?month={{ prev_month }}"
       title="Предыдущий месяц">&larr;</a>
    <!-- TODO: translate month name -->
    <strong>{{ month_verbose }} {{ year }}</strong>
    <a class="pag-vs-ajax" href="?month={{ next_month }}"title="Следующий месяц">&rarr;</a>
</p>


<table class="table table-hover table-striped table-bordered"
       id="students-journal">

    <thead>
    <tr class="header">
        <th class="num">#</th>
        <th class="name">{% trans "Student" %}</th>
        {% for day in month_header %}
        <th class="day-header">
        <!-- TODO: translate day name -->
        {{ day.verbose }}
        <br/>
        {{ day.day }}
        </th>
        {% endfor %}
    </tr>
    </thead>

<tbody>

{% csrf_token %}

{% for student in students %}
<tr>

    <td>
        {% if is_paginated %}
            {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
        {% else %}
            {{ forloop.counter }}
        {% endif %}
    <td>


    <a title="=Редактировать" target="_blank" href="{% url "students_edit" student.id %}">{{ student.fullname }}
    </a>
    </td>



    {% for day in student.days %}
    <td class="day-box">
        <input type="checkbox" data-student-id="{{ student.id }}"
        data-date="{{ day.date }}" data-url="{{ student.update_url }}"
        value="1"{% if day.present %} checked="checked" {% endif %}/>
    </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}






{% with object_list=students %}
{% include "students/pagination.html" %}

{% endwith %}



{% endblock content %}
