{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенты{% endblock meta_title %}
{% block title %}Учет посещения{% endblock title %}
{% block content %}



         <!--End SubHeader-->

         <!--Start Main Page Content-->
            <div class="row" id="content-colums">

                <div class="col-lg-12" id="content-column">

                    <!--Status Massege-->
                    <div class="alert alert-warning">Изменениея отменены.</div>


                    <!-- Add Students Button-->
                    <a class="btn btn-primary" href="#">Октябрь</a>


                </div>
            </div>

            <!-- Start Students List-->
            <!-- Start Students Listing -->
            <div id="visits">
                <table class="table table-bordered table-hover table-striped">


                    <thead>
                    <tr>
                        <th>Студент</th>
                        <th>Чт<br />1</th>
                        <th>Пт<br />2</th>
                        <th>Сб<br />3</th>
                        <th>Вс<br />4</th>
                        <th>Пн<br />5</th>
                        <th>Вт<br />6</th>
                        <th>Ср<br />7</th>
                        <th>Чт<br />8</th>
                        <th>Пт<br />9</th>
                        <th>Сб<br />10</th>
                        <th>Вс<br />11</th>
                        <th>Пн<br />12</th>
                        <th>ВТ<br />13</th>
                        <th>Ср<br />14</th>
                        <th>Чт<br />15</th>
                        <th>Пт<br />16</th>
                        <th>Сб<br />17</th>
                        <th>Вс<br />18</th>
                        <th>Пн<br />19</th>
                        <th>Вт<br />20</th>
                        <th>Ср<br />21</th>
                        <th>Чт<br />22</th>
                        <th>Пт<br />23</th>
                        <th>Сб<br />24</th>
                        <th>Вс<br />25</th>
                        <th>Пн<br />26</th>
                        <th>Вт<br />27</th>
                        <th>Ср<br />28</th>
                        <th>Чт<br />29</th>
                        <th>Пт<br />30</th>
                        <th>Пт<br />31</th>

                    </tr>


                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">Назар Мазур</th>
                          <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>

                        </tr>
                    <tr>
                          <th scope="row">Корост Андрей</th>
                          <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>

                        </tr>
                    <tr>
                          <th scope="row">Подоба Сергей</th>
                          <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td><td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>
                            <td>
                              <div class="form-check">
                                  <input class="form-check-input"
                                         type="checkbox"
                                         value=""
                                         id="defaultCheck1">
                                  <label class="form-check-label"
                                         for="defaultCheck1">

                                  </label>
                                </div>
                          </td>

                        </tr>


                </table>
            </div>

            <!-- Add Pagitnation-->

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>






                <!--Status Massege-->
                <div class="alert alert-warning">Изменения отменены.</div>
            </div>

             <!--End Main Page Content-->


{% endblock content %}




</html>