{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенты{% endblock meta_title %}
{% block title %}База студентов{% endblock title %}
{% block content %}



<!-- Add Students Button-->
<a class="btn btn-primary" href="{% url "students_add" %}">Добавить студента</a>



    <!-- Start Students Listing -->

<table class="table table-hover table-striped">

    <thead>
    <tr>
        <th><a heref='#'>№</a></th>
        <th>Фото</th>
        <th><a href='#'> Фамилия &uarr;</a></th>
        <th><a href="#">Имя</a></th>
        <th><a href="#">№ Билета</a></th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if student.photo %}
            <td><img height="=30" width="30"
                     src="{{ student.photo.url }}" class="rounded-circle" /> </td>
            {% else %}
            <td><img height="=30" width="30"
                     src="{% static "img/default_user.png" %}" class="rounded-circle" /> </td>
            {% endif %}
            <td><a heref="{% url "students_edit" student.id %}">{{student.last_name }}</td>
            <td><a heref="{% url "students_edit" student.id %}">{{student.first_name}}</td>
            <td>{{student.ticket}}</td>
            <td>
                <div class="=btn-group">
                    <button class="btn btn-default dropdown-toggle"
                            type="button" data-toggle="dropdown">Действие
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/jornal/1{{ student.id}}">Посещение</a>
                        </li>
                        <li>
                            <a href="{% url "students_edit" student.id %}">Редактировать</a>
                        </li>
                        <li>
                            <a href="{% url "students_delete" student.id %}">Удалить</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    <tr>
        </tr>
        {%endfor%}
    </tbody>
</table>
<!-- End Students List -->

    <!-- Add Pagitnation-->
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock content %}
