{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенты{% endblock meta_title %}
{% block title %}База студентов{% endblock title %}
{% block content %}



<!-- Add Students Button-->
<a class="btn btn-primary" href="{% url "students_add" %}">Добавить студента</a>
<a class="btn btn-primary" href="{% url "students_add2" %}">Добавить студента2</a>



    <!-- Start Students Listing -->

<table class="table table-hover table-striped" id="target" style="overflow: scroll;">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse number_on_page=students.paginator.per_page %}
    <thead>
    <tr>
        <th><a heref='#'>№</a></th>
        <th>Фото</th>
        <th><a href="{% url 'home' %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}&amp;number_on_page={{ number_on_page }}">
            Фамилия
            {% if order_by == 'last_name' and reverse != '1' %}&uarr;
            {% elif order_by == 'last_name' and reverse == '1' %}&darr;
          {% endif %}
            </a></th>
        <th><a href="{% url 'home' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}&amp;number_on_page={{ number_on_page }}">Имя
            {% if order_by == 'first_name' and reverse != '1' %}&uarr;
            {% elif order_by == 'first_name' and reverse == '1' %}&darr;
          {% endif %}
            </a></th>
        <th><a href="{% url 'home' %}?order_by=student_group{% if order_by == 'student_group' and reverse != '1' %}&amp;reverse=1{% endif %}&amp;number_on_page={{ number_on_page }}">Группа
            {% if order_by == 'student_group' and reverse != '1' %}&uarr;
            {% elif order_by == 'student_group' and reverse == '1' %}&darr;
          {% endif %}
            </a></th>
        <th><a href="{% url 'home' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}&amp;number_on_page={{ number_on_page }}">№ Билета
            {% if order_by == 'ticket' and reverse != '1' %}&uarr;
            {% elif order_by == 'ticket' and reverse == '1' %}&darr;
          {% endif %}
            </a></th>
        <th>Действие</th>
    </tr>
    </thead>
    {% endwith %}
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if student.photo %}
            <td><img height="=30" width="30"
                     src="{{ student.photo.url }}" class="rounded-circle" /> </td>
            {% else %}
            <td><img height="=30" width="30"
                     src="{% static "img/default_user.png" %}" class="rounded-circle" /> </td>
            {% endif %}
            <td><a heref="{% url "students_edit" student.id %}">{{student.last_name }}</td>
            <td><a heref="{% url "students_edit" student.id %}">{{student.first_name}}</td>
            <td><a heref="{% url "students_edit" student.id %}">{{student.student_group}}</td>
            <td>{{student.ticket}}</td>
            <td>
                <div class="=btn-group">
                    <button class="btn btn-default dropdown-toggle"
                            type="button" data-toggle="dropdown">Действие
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/jornal/1{{ student.id}}">Посещение</a>
                        </li>
                        <li>
                            <a href="{% url "students_edit" student.id %}">Редактировать</a>
                        </li>
                        <li>
                            <a href="{% url "students_edit2" student.id %}&amp;student=1">Редактировать2</a>
                        </li>
                        <li>
                            <a href="{% url "students_delete" student.id %}">Удалить</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    <tr>
        </tr>
        {%endfor%}
    </tbody>
</table>
<!-- End Students List -->

    <!-- Add Pagitnation-->

    {% if students.has_other_pages %}
    {% with order_by=request.GET.order_by reverse=request.GET.reverse number_on_page=request.GET.number_on_page load_more=students.load_more %}

    <!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Количество на странице {{ students.paginator.per_page }}
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page=1">1</a>
    <a class="dropdown-item" href="{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page=2">2</a>
    <a class="dropdown-item" href="{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page=5">5</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.count}}">ALL</a>
  </div>
</div>


    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{number_on_page}}">&laquo;</a>
            </li>

            {% for p in students.paginator.page_range %}
            <li {% if students.number == p %}class="page-item active"{% endif %}><a class="page-link" href="{% url "home" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;order_by={{ order_by }}&amp;reverse={{reverse }}&amp;number_on_page={{number_on_page}}">{{p}}</a></li>

            {% endfor %}
            <li class="page-item">
              <a class="page-link" href="{% url "home" %}?page={{ students.paginator.num_pages}}&amp;order_by=={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{number_on_page}}">&raquo;</a>
            </li>

            <li class="page-item"><a class="page-link" href="#">Total pages {{ students.paginator.num_pages}}</a></li>

        </ul>
    </nav>
<a class="btn btn-primary" role="button" href="{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.load_more }}" >Load more students</a>
    {% endwith %}
    {% endif %}




<script>
    jQuery(document).ready(function ($) {
         //разрешаем выводить данные
   var block = true;
   //номер страницы для вывода
   var page = 0;
   //скроллинг
        $(window).scroll(function () {
            if ($(window).height() + $(window).scrollTop() >= $(document).height() && block){
        console.log('scrollDown');
        window.location.replace("{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.load_more }}");
    }
    //             $("#target").load("{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.load_more }}");
    position = scroll;
});});




</script>

<script>
jQuery(document).ready(function ($) {
   //разрешаем выводить данные
   var block = true;
   //номер страницы для вывода
   var page = 0;
   //скроллинг
   $(window).scroll(function () {
      if ($(window).height() + $(window).scrollTop() >= $(document).height() && block) {
         block = false;
         page++;
         $.ajax({
                type: 'GET',
                url: "?page=1&order_by=last_name&reverse=1&number_on_page=4" + page,
                success: function (list) {
            stopLoading();
            if (list == '') {
               block = false;
            } else {
               $('.news').append(list);
               block = true;
            }
                }
            });
            startLoading();
        }
   });
   //старт анимация ajax
   function startLoading() {
      $('.loading').fadeIn(300);
   }
   //конец анимации ajax
   function stopLoading() {
      $('.loading').fadeOut();
   }
});

</script>

<a class="btn" role="button">Load more students</a>
<button name="nada">button</button>
<!--<script src="jquery-3.5.1.js"></script>-->
{% endblock content %}
