{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенты{% endblock meta_title %}
{% block title %}База студентов{% endblock title %}
{% block content %}



<!-- Add Students Button-->
<a class="btn btn-primary" href="{% url "students_add" %}">Добавить студента</a>
<a class="btn btn-primary" href="{% url "students_add2" %}">Добавить студента2</a>



    <!-- Start Students Listing -->
{% if not students %}
<div class="alert alert-warning">
    Пока нет ни одного студента в базе. Пожалуйста,
    <a href="{% url "groups_add" %}">Добавить</a> первого.
</div>
{% else %}

<table class="table table-hover table-striped" id="target" style="overflow: scroll;">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse number_on_page=students.paginator.per_page %}
    <thead>
    <tr>
        <th><a heref='#'>№</a></th>
        <th>Фото</th>
        <th><a href="{% url 'home' %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}&amp;number_on_page={{ number_on_page }}">
            Фамилия
            {% if order_by == 'last_name' and reverse != '1' %}&uarr;
            {% elif order_by == 'last_name' and reverse == '1' %}&darr;
          {% endif %}
            </a></th>
        <th><a href="{% url 'home' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}&amp;number_on_page={{ number_on_page }}">Имя
            {% if order_by == 'first_name' and reverse != '1' %}&uarr;
            {% elif order_by == 'first_name' and reverse == '1' %}&darr;
          {% endif %}
            </a></th>
        <th><a href="{% url 'home' %}?order_by=student_group{% if order_by == 'student_group' and reverse != '1' %}&amp;reverse=1{% endif %}&amp;number_on_page={{ number_on_page }}">Группа
            {% if order_by == 'student_group' and reverse != '1' %}&uarr;
            {% elif order_by == 'student_group' and reverse == '1' %}&darr;
          {% endif %}
            </a></th>
        <th><a href="{% url 'home' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}&amp;number_on_page={{ number_on_page }}">№ Билета
            {% if order_by == 'ticket' and reverse != '1' %}&uarr;
            {% elif order_by == 'ticket' and reverse == '1' %}&darr;
          {% endif %}
            </a></th>
        <th>Действие</th>
    </tr>
    </thead>
    {% endwith %}
    <tbody>
        {% for student in students.page_obj %}
        <tr>
            <td>{{ forloop.counter }}</td>

            {% if student.photo %}
            <td><img height="=30" width="30"
                     src="{{ student.photo.url }}" class="rounded-circle" /> </td>
            {% else %}
            <td><img height="=30" width="30"
                     src="{% static "img/default_user.png" %}" class="rounded-circle" /> </td>
            {% endif %}
            <td><a heref="{% url "students_edit" student.id %}" class="student-edit-form-link">{{student.last_name }}</td>
            <td><a heref="{% url "students_edit" student.id %}" class="student-edit-form-link">{{student.first_name}}</td>
            <td><a heref="{% url "students_edit" student.id %}" class="student-edit-form-link">{{student.student_group}}</td>
            <td>{{student.ticket}}</td>
            <td>
                <div class="=btn-group col-lg-12">
                    <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">Действие
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "journal" student.id %}">Посещение</a>
                        </li>
                        <li>
                            <a href="{% url "students_edit" student.id %}" class="student-edit-form-link">Редактировать</a>
                        </li>
                        <li>
                            <a href="{% url "students_edit2" student.id %}&amp;student=1">Редактировать2</a>
                        </li>
                        <li>
                            <a href="{% url "students_edit3" student.id %} ">Редактировать3</a>
                        </li>
                        <li>
                            <a href="{% url "students_delete" student.id %}">Удалить</a>
                        </li>
                        <li>
                            <a href="{% url "students_delete3" student.id %}">Удалить3</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        {%endfor%}
    </tbody>
</table>
{% endif %}
<!-- End Students List -->

    <!-- Add Pagitnation-->

{% with object_list=students.page_obj is_paginated=students.is_paginated paginator=students.paginator %}
{% include "students/pagination.html" %}

{% endwith %}

<a class="btn btn-primary" role="button" href="{% url 'groups' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ groups.paginator.load_more }}" >Load more groups</a>

<script>
    jQuery(document).ready(function ($) {
         //разрешаем выводить данные
   var block = true;
   //номер страницы для вывода
   var page = 0;
   //скроллинг
        $(window).scroll(function () {
            if ($(window).height() + $(window).scrollTop() >= $(document).height() && block){
        console.log('scrollDown');
        window.location.replace("{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.load_more }}");
    }
    //             $("#target").load("{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}&amp;number_on_page={{ students.paginator.load_more }}");
    position = scroll;
});});




</script>

<script>
jQuery(document).ready(function ($) {
   //разрешаем выводить данные
   var block = true;
   //номер страницы для вывода
   var page = 0;
   //скроллинг
   $(window).scroll(function () {
      if ($(window).height() + $(window).scrollTop() >= $(document).height() && block) {
         block = false;
         page++;
         $.ajax({
                type: 'GET',
                url: "?page=1&order_by=last_name&reverse=1&number_on_page=4" + page,
                success: function (list) {
            stopLoading();
            if (list == '') {
               block = false;
            } else {
               $('.news').append(list);
               block = true;
            }
                }
            });
            startLoading();
        }
   });
   //старт анимация ajax
   function startLoading() {
      $('.loading').fadeIn(300);
   }
   //конец анимации ajax
   function stopLoading() {
      $('.loading').fadeOut();
   }
});

</script>

<a class="btn" role="button">Load more students</a>
<button name="nada">button</button>
<!--<script src="jquery-3.5.1.js"></script>-->
{% endblock content %}
