{% extends "students/base.html" %}
{% load static from staticfiles %}

{% block status_message %}
    {% if errors %}

<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    Пожалуйста исправьте следующие ошибки в полях:
    {% if errors.first_name_id %} {{ errors.first_name_id }}{% endif %}
    {% if errors.last_name_id %}, {{ errors.last_name_id }}{% endif %}
    {% if errors.birthday_id %}, {{ errors.birthday_id }}{% endif %}
    {% if errors.student_group_id %}, {{ errors.student_group_id }}{% endif %}
    {% if errors.photo_id %}, {{ errors.photo_id }}{% endif %}

</div>
{% endif %}
{% if messages %}
<ul class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}:
    {% if errors.first_name_id %} {{ errors.first_name_id }}{% endif %}
    {% if errors.last_name_id %}, {{ errors.last_name_id }}{% endif %}
    {% if errors.birthday_id %}, {{ errors.birthday_id }}{% endif %}{% if errors.student_group_id %}, {{ errors.student_group_id }}{% endif %}
    {% if errors.photo_id %}, {{ errors.photo_id }}{% endif %}
    </li>
    {% endfor %}

</ul>
{% endif %}

{% endblock status_message %}
{% block meta_title %}Добавить студента{% endblock meta_title %}
{% block title %}Добавить студента{% endblock title %}
{% block content %}
<form  action="{% url "students_add" %}" method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
{% csrf_token %}


<div class="form-gorup {% if errors.first_name %}has-error{% endif %}">
    <label for="first_name" class="col-sm-2 control-lable">Имя*</label>
    <div class="col-sm-10">
        <input type="text" value="{{ request.POST.first_name }}"
               name="first_name" id="first_name"
               placeholder="Введите ваше имя"
               class="form-control"/>
        <span class="help-block">{{ errors.first_name }}</span>
    </div>
</div>

<div class="form-group {% if errors.last_name %}has-errors{% endif %}">
    <label for="last_name" class="col-sm-2 control-lable">Фамилия*</label>
    <div class="col-sm-10">
        <input type="text" value="{{ request.POST.last_name }}"
               name="last_name" id="last_name"
               placeholder="Введите вашу фамилию"
               class="form-control"/>
    <span class="help-block">{{ errors.last_name }}</span>
</div>

<div class="form-group {% if errors.middle_name %}has-error{% endif %}">
    <label for="middle_name"class="col-sm-2 control-lable">Отчество
    </label>
    <div class="col-sm-10">
        <input type="text" value="{{ request.POST.middle_name }}"
               name="middle_name" id="middle_name"
               class="form-control"/>
        <span class="help-block">{{ errors.middle_name }}</span>
    </div>
</div>
<div class="form-group {% if errors.birthday %}has-error{% endif %}">
    <label for="birthday"class="col-sm-2 control-lable">День рождения*</label>
    <div class="col-sm-10">
        <input type="text" value="{{ request.POST.birthday }}"
               name="birthday" id="birthday"
               placeholder="Напр. 1923-11-22"
               class="dateinput form-control"/>
        <span class="help-block">{{ errors.birthday }}</span>
    </div>
</div>
<div class="form-group {% if errors.photo %}gas-error{% endif %}">
    <label for="photo"class="col-sm-2 control-lable">Фото</label>
    <div class="col-sm-10">
        <input type="file" value="" name="photo" id="photo"
               class="form-control"/>
        <span class="help-block">{{ errors.photo }}</span>
    </div>
</div>

<div class="form-group{% if errors.ticket %}has-error{% endif %}">
    <label for="ticket"class="col-sm-2 control-lable">Билет*</label>
    <div class="col-sm-10">
        <input type="text" value="{{ request.POST.ticket }}"
               name="ticket" id="ticket"
               class="form-control"/>
        <span class="help-block">{{ errors.ticket }}</span>
    </div>

</div>

<div class="form-group {% if errors.student_group %}has-error{% endif %}">

    <label for="students_group"class="col-sm-2 control-lable">Группа*</label>
    <div class="col-sm-10">
    <select name="student_group" id="students_group"
            class="form-control">
        <option value="">Выберите группу</option>
        {% for group in groups %}
        <option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %}selected="1"{% endif %}>{{ group.title }}</option>
        {% endfor %}

    </select>
    <span class="help-block">{{ errors.student_group }}</span>
</div>
    <div class="form-group {% if errors.notes %}has-error{% endif %}">
        <label for="notes" class="col-sm-2 control-lable">Дополнительные заметки</label>
        <textarea name="notes" id="notes" class="form-control">{{ request.POST.notes }}</textarea>
        <span class="help-block">{{ errors.notes }}</span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-lable"></label>
    <div class="col-sm-10">
        <textarea name="notes" id="notes" class="form-control"></textarea>
        <input type="submit" value="Добавить" name="add_button"/>
        <button type="submit" name="cancel_button" class="btn btn-link">Отменить</button>
    </div>
</div>
</form>
{% endblock content %}
