/* Global Styles*/
h1, h2, h3, h4, h5, h6 {
    front-weght: bold;
}
.alert{
    /*Добавил отсуп для алеровт в 10 пикселей*/
    margin-top: 10px;
}
/*Находим елемент фоутера по его идентификатору */
#footer{
    /* Задаем верхнюю границу елемента: ширина линии, тип линии, цвет линии */
    border-top: 1px solid #dddddd;
    /* Задаем внутреннее растояние елемента до края */
    padding-top: 10px;
}

/*Groups Selector */
#group-selector {
    marging-top: 30px;
}

#group-selector select {
    margin: 0;
    width: 85%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    line-height: 30px;
    /*color: #555555;*/

}

#forms{

    position: absolute; /* Абсолютное позиционирование */
    bottom: 10px; /* Положение от нижнего края */
    right: 140mm; /* Положение от правого края */
    /*line-height: 1px;*/

}

/* Form Styles */
textarea,
select,
input {
  max-width: 300px;
}
