/* Global Styles */
.alert {
  margin: 10px 0 5px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Groups Selector */
#group-selector {
  margin-top: 30px;
}
#group-selector select {
  width: 80%;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  color: #555555;
}

/* Footer Styles */
#footer {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

/* Form Styles */
textarea,
select,
input {
  max-width: 300px;
}

/* Journal Table Stules */
td.day-box,
th.day-header {
  padding: 4px ! important;
  vertical-align: middle ! important;
  text-align: center;
}

#ajax-progress-indicator{
  display: none;
}
#alert-danger{
  display: none;
}
#calendar-button{

    background-color: #DCDCDC; /* Green */
    border: none;
    color: darkslategrey;
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.progress{
    display: none;
}
#frame{
    display: none;
}
 #lang-nav{
    display: none;
}