{% extends "students/base.html" %}
{% load static from staticfiles %}

{% block status_message %}
    {% if errors %}

<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    Пожалуйста исправьте следующие ошибки в полях:
    {% if errors.first_name_id %} {{ errors.first_name_id }}{% endif %}
    {% if errors.last_name_id %}, {{ errors.last_name_id }}{% endif %}
    {% if errors.birthday_id %}, {{ errors.birthday_id }}{% endif %}
    {% if errors.student_group_id %}, {{ errors.student_group_id }}{% endif %}
    {% if errors.photo_id %}, {{ errors.photo_id }}{% endif %}

</div>
{% if messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}:
    {% if errors.first_name_id %} {{ errors.first_name_id }}{% endif %}
    {% if errors.last_name_id %}, {{ errors.last_name_id }}{% endif %}
    {% if errors.birthday_id %}, {{ errors.birthday_id }}{% endif %}{% if errors.student_group_id %}, {{ errors.student_group_id }}{% endif %}
    {% if errors.photo_id %}, {{ errors.photo_id }}{% endif %}
    </li>
    {% endfor %}

</div>
{% endif %}
    {% endif %}

{% endblock status_message %}

{% block meta_title %}Связь с Администратором{% endblock meta_title %}
{% block title %}Связь с Администратором{% endblock title %}

{% block content %}

{% endblock content %}
